@charset "ISO-8859-1";

body {
	background: rgb(2, 0, 36);
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%,
		rgba(115, 171, 175, 1) 41%, rgba(0, 212, 255, 1) 100%);
}


::-webkit-scrollbar {
width:10px;
}

::-webkit-scrollbar-track {
border:7px solid #4d4b49;
box-shadow:insert 0 0 2px 2px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb {
background:linear-gradient(45deg,#06dee1,#79ff6c);
border-radius:50px;
}
#footer {
	padding: 10px 10px 0px 10px;
	bottom: 0;
	width: 10%;
	position : fixed;
	/* Height of the footer*/
	height: 40px;
	background: grey;
}